*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #212935;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, p, input, span {
  color: #f3f4f6;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  letter-spacing: -.2px;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 20;
  height: 4rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: solid 1px #6a717fb3;
  background-color: #212935;
}

.global {
  display: flex;
  max-width: 80rem;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.inner {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between; 
  align-items: center;
}

.area1 {
  display: flex;  
  width: 33rem;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  font-weight: 1000;
}

.menu {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: center;
}

.menu:hover > :not(:hover) {
  color: #8899ac66;
}

.menu>a {
  font-size: 1rem;
  font-weight: 500;
  transition: .3s ease;
}

.menu>a:not(:nth-child(1)) {
  margin-left: 1.75rem;
}

.area2 {
  display: flex;
  align-items: center;
  width: 29rem;
}

.search {
  display: flex;
  width: 100%;
  max-width: 230px;
  min-width: 160px;
  height: 35px;
  margin-right: auto;
  border: 1px solid #374151;
  border-radius: 43px;
  background-color: #374151;
  align-items: center;
  transition: .15s ease;
}

.search:focus-within{
  border-color: #0080ff;
}

.search>input {
  width: 78%;    
  padding: 0;
  margin-left: 1rem;
  background-color: transparent;
  font-size: .825rem;
  font-weight: 500;
  line-height: 1rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.search>input::placeholder {
  color: #9ca3af66;
}

.search>button {
  display: flex;
  width: 2rem;
  height: 2rem;
  margin-top: -0.125rem;
  margin-bottom: -0.125rem;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search>button>svg {
  display: block;
  width: 1rem;
  height: 1rem;
  color: #9ca3af;
  transition: .15s ease;
}

.search>button>svg:hover {
  color: #99ccff;
}

.area2>a {
  display: flex;
  padding: .525rem 1.2rem;
  border-radius: 1.5rem;
  font-size: .875rem;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  letter-spacing: 0;
  transition: border-color .3s ease, background-color .3s ease, color .3s ease, transform .3s ease;
}

.area2>a:hover {
  border-color: #f3f4f6;
  background-color: #f3f4f6;
  color: #0080ff;
  transform: scale(1.05);
}

.sign_in {
  margin-left: 1.5rem;
  border: 1.6px solid #6a717fb3;
  background-color: #374151;
}

.sign_up {
  margin-left: .625rem;
  border: 1.6px solid #0080ff;
  background-color: #0080ff;
  color: #fff;
}

main {
  display: block;
  width: 100%;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  position: static;
  width: 100%;
  min-width: 0;
  max-height: 100%;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  flex: 1 1 auto;
}

.ranking_section {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ranking_list {
  float: left;
  width: 36%;
  height: 100%;
  border-top: 1px solid #6a717fb3;
  border-bottom: 1px solid #6a717fb3;
}

.ranking_list:nth-child(2) {
  padding-left: 1.25rem;
  border-left: 1px solid #6a717fb3;
}

.ranking_list>li {
  width: 100%;
  max-width: 25rem;
  padding: 1rem .5rem;
  border-bottom: 1px solid #6a717fb3;
}

.ranking_list>li:nth-child(4) {
  border-bottom: none;
}

.title-wrap {
  display: flex;
  margin-bottom: 0.5rem;
}

.title {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
}

.title>a {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.views_answer {
  display: flex;
}

.views_answer>div {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
}

.views_answer>div:nth-child(2) {
  margin-left: 0.625rem;
}

.views_answer>div>span {
  font-size: .725rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.views_answer>div:nth-child(1)>span {
  color: #99ccff;
}

.views_answer>div:nth-child(2)>span {
  color: #d1d5db;
}

.detail>a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  width: fit-content;
  font-size: .825rem;
  font-weight: 400;
  color: #d1d5db;
  line-height: 1.25rem;
  word-break: break-all;
}

.right_side {
  width: 280px;
  position: relative;
  float: right;
}

.side-content {
  border: 0 solid #374151;
  border-radius: 1rem;
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: #374151;
}

.sign_area {
  border-bottom: 1px solid #ddd;
  border-radius: 1rem 1rem 0 0;
  padding: 20px 15px 19px;
  letter-spacing: -1px;
  background-color: #303947;
}

.top_text {
  margin: 0 0 7px;
  line-height: 1rem;
  font-size: 11px;
}

.sa-signIn {
  display: block;
  margin: 0 -1px;
  padding: 10px 0 4px;
  border-radius: 4px;
  border: 1px solid #6a717fb3;
  background-color: #6a717fb3;
  text-align: center;
  font-size: 16px;
  line-height: 1rem;
}

.rest_area {
  margin: 12px 0 0;
  line-height: 1rem;
  vertical-align: top;
  font-size: 11px;
}

.rest_area::after {
  content: "";
  display: block;
  clear: both;
}

.info_find {
  float: left;
  font-size: 0;
}

.info_find * {
  font-size: 11px;
}

.info_find a {
  margin: -5px;
  padding: 5px;
  vertical-align: top;
}

.bar {
  display: inline-block;
  overflow: hidden;
  width: .025rem;
  height: .65rem;
  margin: 0 7px;
  vertical-align: middle;
  background-color: #f3f4f6;
}

.sa-signUp {
  float: right;
  font-size: 0;
}

.sa-signUp a {
  margin: -5px;
  padding: 5px;
  vertical-align: top;
  font-size: 11px;
}