*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #212935;
  font-family: 'Karla', sans-serif;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, p, input {
  color: #f3f4f6;
  text-decoration: none;
  letter-spacing: -.2px;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 20;
  height: 4rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #6a717fb3;
  background-color: #212935;
}

.global {
  display: flex;
  max-width: 80rem;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.inner {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between; 
  align-items: center;
}

.area1 {
  display: flex;  
  width: 33rem;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  font-weight: 1000;
}

.menu {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: center;
}

.menu:hover > :not(:hover) {
  color: #8899ac66;
}

.menu>a {
  font-size: 1rem;
  font-weight: 500;
  transition: .3s ease;
}

.menu>a:not(:nth-child(1)) {
  margin-left: 1.75rem;
}

.area2 {
  display: flex;
  align-items: center;
  width: 29rem;
}

.search {
  display: flex;
  width: 100%;
  max-width: 230px;
  min-width: 160px;
  height: 35px;
  margin-right: auto;
  border: 1px solid #374151;
  border-radius: 43px;
  background-color: #374151;
  align-items: center;
  transition: .15s ease;
}

.search:focus-within{
  border-color: #0080ff;
}

.search>input {
  width: 78%;    
  padding: 0;
  margin-left: 1rem;
  background-color: transparent;
  font-size: .825rem;
  font-weight: 500;
  line-height: 1rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.search>input::placeholder {
  color: #9ca3af66;
}

.search>button {
  display: flex;
  width: 2rem;
  height: 2rem;
  margin-top: -0.125rem;
  margin-bottom: -0.125rem;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search>button>svg {
  display: block;
  width: 1rem;
  height: 1rem;
  color: #9ca3af;
  transition: .15s ease;
}

.search>button>svg:hover {
  color: #99ccff;
}

.area2>a {
  display: flex;
  padding: .525rem 1.2rem;
  border-radius: 1.5rem;
  font-size: .875rem;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  letter-spacing: 0;
  transition: border-color .3s ease, background-color .3s ease, color .3s ease, transform .3s ease;
}

.area2>a:hover {
  border-color: #f3f4f6;
  background-color: #f3f4f6;
  color: #0080ff;
  transform: scale(1.05);
}

.sign_in {
  margin-left: 1.5rem;
  border: 1.6px solid #6a717fb3;
  background-color: #374151;
}

.sign_up {
  margin-left: .625rem;
  border: 1.6px solid #0080ff;
  background-color: #0080ff;
  color: #fff;
}

main {
  display: block;
  width: 100%;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  position: static;
  width: 100%;
  min-width: 0;
  max-height: 100%;
  margin-right: 2.5rem;
  flex: 1 1 auto;
}

.ranking_section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section-head {
  position: relative;
  color: #f3f4f6;
  transition: .15s ease;
}

.head-background {
  width: 100%;
  height: 4rem;
  background-color: rgb(55 61 81);
  border-radius: 0.75rem;
}

.head-title {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
}

.head-title span {
  width: 100%;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.list-align {
  display: flex;
  padding-left: .5rem;
  padding-right: .5rem;
  justify-content: space-between;
}

.section-list {
  width: 49%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.section-list>li {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section-list>li:not(:nth-child(1)) {
  border-top: 1px solid #6a717fb3;
}

.info_summery {
  display: flex;
  margin-bottom: 0.5rem;
}

.aat {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
}

.user-profile {
  display: block;
  max-width: 100%;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999px;
}

.user-name {
  display: inline;
  padding-left: 0.25rem;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #d1d5db;
  transition: .15s ease;
}

.write_time {
  margin-left: .25rem;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #d1d5db;
}

.vaa {
  display: flex;
}

.views, .answer_num {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
}

.answer_num {
  margin-left: 0.625rem;
}

.views>span, .answer_num>span {
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.views>span {
  color: #99ccff;
}

.answer_num>span {
  color: #d1d5db;
}

.title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  width: fit-content;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  align-items: center;
  word-break: break-all;
  transition: .15s ease;
}

.section-head:hover, .user-name:hover, .title:hover {
  color: #99ccff;
}

.right_side {
  display: block;
  flex: none;
  margin-left: 2.5rem;
  position: relative;
  width: 280px;
}

.side-container {
  border: 0 solid #374151;
  border-radius: 1rem;
  position: relative;
  width: 100%;
  height: 1000px;
  margin-top: 2rem;
  background-color: #374151;
}

.sign_area {
  border-bottom: 1px solid #6a717fb3;
  border-radius: 1rem 1rem 0 0;
  padding: 20px 15px 19px;
  letter-spacing: -1px;
  background-color: #303947;
}

.top_text {
  margin: 0 0 7px;
  line-height: 1rem;
  font-size: 11px;
}

.sa-signIn {
  display: block;
  margin: 0 -1px;
  padding: 10px 0 4px;
  border-radius: 4px;
  border: 1px solid #6a717fb3;
  background-color: #6a717fb3;
  text-align: center;
  font-size: 16px;
  line-height: 1rem;
}

.rest_area {
  margin: 12px 0 0;
  line-height: 1rem;
  vertical-align: top;
  font-size: 11px;
}

.rest_area::after {
  content: "";
  display: block;
  clear: both;
}

.info_find {
  float: left;
  font-size: 0;
}

.info_find * {
  font-size: 11px;
}

.info_find a {
  margin: -5px;
  padding: 5px;
  vertical-align: top;
}

.bar {
  display: inline-block;
  overflow: hidden;
  width: .025rem;
  height: .65rem;
  margin: 0 7px;
  vertical-align: middle;
  background-color: #f3f4f6;
}

.sa-signUp {
  float: right;
  font-size: 0;
}

.sa-signUp a {
  margin: -5px;
  padding: 5px;
  vertical-align: top;
  font-size: 11px;
}